.box {
    background-color: rgba(47, 129, 65, 1);
    width: 300px;
    height: 400px;
    border: 1px solid rgba(47, 129, 65, 1);
}
.box1 {
    background-color: rgba(19, 81, 59, 1);
    width: 571px;
    height: 140px;
    border: 1px solid rgba(19, 81, 59, 1);
}
.box2 {
    background-color: rgba(230, 36, 187, 1);
    width: 571px;
    height: 140px;
    border: 1px solid rgba(230, 36, 187, 1);
}
.box3 {
    background-color: rgba(85, 239, 13, 1);
    width: 571px;
    height: 140px;
    border: 1px solid rgba(85, 239, 13, 1);
}